
*.npy
*.pth
*.bin
*.pt
*.safetensors
*.ckpt
*.joblib


**/log/
**/pdf/
**/figure/
**/checkpoints/
**/wandb/
__pycache__/
.DS_Store

**/*test*
**/test.py
**/*.ipynb


**/sft/load_dataset.py
**/sft/loaddatasettest.py
**/sft/loadweightstest.py


pretraining0/
prompts/